body {
  background-color: #000;
}

.photo-container {
  cursor: pointer;
  border-radius: 12px;
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.photo-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo-container:hover > div {
  animation: .7s forwards appear1;
}

.photo-container:hover > div span {
  animation: .4s .1s forwards appear2;
}

.photo-container:hover > div p {
  animation: .4s .1s forwards appear3;
}

.photo-container:not(:hover) > div {
  animation: .5s .4s forwards disappear1;
}

.photo-container:not(:hover) > div span {
  animation: .4s .1s forwards disappear2;
}

.photo-container:not(:hover) > div p {
  animation: .4s .1s forwards disappear3;
}

.photo-container > div {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: #0009;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  padding: 12px;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

.photo-container > div span {
  position: relative;
  top: -100%;
}

.photo-container > div p {
  position: relative;
  bottom: -120%;
}

.photo-container > div > :last-child {
  text-align: justify;
  grid-column: 1 / -1;
  font-size: 13px;
}

.photo-container > div > :nth-child(2) {
  justify-self: end;
}

@keyframes appear1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes appear2 {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes disappear2 {
  0% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}

@keyframes appear3 {
  0% {
    bottom: -120%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes disappear3 {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -120%;
  }
}

h1 {
  color: #00f;
}

.home {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  place-items: center;
  gap: 25px;
  font-family: Poppins;
  display: grid;
}

@font-face {
  font-family: Poppins;
  src: url("Poppins-Light.abdc2069.ttf") format("truetype");
}

.icon {
  color: #fff;
  font-size: 1.5em;
}

.navBar-iconLien {
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  gap: 15px;
  padding: 10px;
  font-family: Poppins;
  transition: all .3s;
  display: flex;
}

.navBar-iconLien:hover {
  background-color: #99999938;
  font-weight: bold;
  transform: translateX(10px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar-logo {
  color: #fff;
  padding: 0 10px;
  font-size: 2em;
}

.navBar {
  border-right: 1px solid #3a3a3a;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 25px;
  display: flex;
}

.navBar-bloklienIcon {
  flex-flow: column;
  justify-content: space-around;
  height: 70%;
  display: flex;
}

.navBar-voirPlus {
  padding: 0 10px;
}

.global-container {
  grid-template-columns: 250px auto;
  gap: 25px;
  display: grid;
}

.global-container .right-container {
  width: 100%;
  max-height: 100vh;
  padding: 20px;
  overflow-y: scroll;
}

* {
  font-family: poppins, sans-serif;
}

input {
  color: #000;
}

p, span {
  color: #fff;
}

.photo-page > img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 50vh;
}

.photo-page {
  grid-template-rows: 50vh;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  display: grid;
}

.photo-page > :nth-child(2) {
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  display: grid;
}

.photo-page > :nth-child(2) > :last-child {
  text-align: justify;
  grid-column: 1 / -1;
  align-self: end;
  font-size: 16px;
}

.comment-form {
  border: 1px solid #fff;
  border-radius: 4px;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: 35px;
  margin: 13px 5px;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.comment-form > input {
  color: #fff;
  background-color: #0000;
  border: none;
  outline: none;
  flex-grow: 1;
  height: 30px;
  padding-left: 8px;
}

.comment-form > button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: inline-flex;
}

.comment-block {
  background-color: #ffffff05;
}

.comment-sub-block {
  border: 1px dashed #ffffff1a;
  border-radius: 5px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  display: grid;
}

.comment-sub-block > :nth-child(3), .comment-sub-block > :nth-child(4) {
  font-size: 13px;
}

.comment-sub-block > :nth-child(2), .comment-sub-block > :nth-child(4) {
  justify-self: end;
}

.comment-sub-block > :nth-child(4) {
  cursor: pointer;
  transition: all .3s;
}

.comment-sub-block > :nth-child(4):hover {
  text-decoration: underline;
}

.comment-sub-block > :nth-child(6), .comment-sub-block > :nth-child(7) {
  grid-column: 1 / -1;
  margin: 13px 5px 5px;
}

.comment-sub-block > button {
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #ffffff4d;
  grid-column: 2 / -1;
  justify-self: end;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 8px;
  transition: all .3s;
}

.comment-sub-block > button:hover {
  color: #000;
  background-color: #fff;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  place-self: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

.login-container h2 {
  color: #000;
  text-align: center;
}

.login-form {
  color: #fff;
  grid-template-columns: 1fr 1fr;
  gap: 8px 15px;
  max-width: 420px;
  margin-top: 25px;
  display: grid;
}

.login-form > :first-child {
  grid-column: 1 / -1;
}

.login-form input {
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  height: 35px;
  padding-left: 8px;
}

.login-form button {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  grid-column: 1 / -1;
  justify-self: center;
  width: 40%;
  height: 35px;
  margin-top: 20px;
}

.login-form p {
  color: #000;
  grid-column: 1 / -1;
  justify-self: center;
  font-size: .9em;
}

.login-form p span {
  color: #00f;
  cursor: pointer;
}

.register-container {
  background-color: #fff;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

.register-container h2 {
  color: #000;
  text-align: center;
}

.register-form {
  grid-template-columns: 1fr;
  row-gap: 15px;
  width: 300px;
  margin-top: 25px;
  display: grid;
}

.register-form input {
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  height: 35px;
  padding-left: 8px;
}

.register-form button {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  justify-self: center;
  width: 40%;
  height: 35px;
  margin-top: 20px;
}

.register-form p {
  color: #000;
  text-align: center;
  font-size: .9em;
}

.register-form p span {
  color: #00f;
  cursor: pointer;
}

.dashboard-container {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.dashboard-profil-photo-container {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  place-items: center;
  gap: 25px;
  margin-top: 25px;
  font-family: Poppins;
  display: grid;
}

.dashboard-profil {
  position: relative;
}

.dashboard-profil .pp {
  object-fit: cover;
  z-index: 100;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 50px;
}

* {
  color: #fff;
}

.createPhoto-contain {
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: auto 200px 1fr 1fr;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 100px;
  display: grid;
}

.createPhoto-contain h2 {
  grid-column: 1 / 2;
  justify-self: center;
}

.createPhoto-contain > .createPhoto-form {
  grid-column: 1 / 2;
  grid-template-columns: auto;
  justify-self: center;
  row-gap: 15px;
  width: 400px;
  margin-top: 30px;
  display: grid;
}

.createPhoto-contain > .createPhoto-form input {
  cursor: pointer;
}

.createPhoto-contain > .createPhoto-form button {
  color: #000;
  cursor: pointer;
  background-color: #00e99b;
  border: 1px solid #000;
  border-radius: 7px;
  justify-self: end;
  padding: 8px;
  font-weight: bold;
}

.createPhoto-contain > .createPhoto-form textarea {
  background-color: #5555552f;
  border: 1px solid;
  border-radius: 7px;
  outline: none;
  padding: 10px;
}

.createPhoto-contain .createPhoto-trait {
  border: 1px solid #fff;
  grid-area: 1 / 2 / 3 / 2;
  justify-self: center;
}

.createPhoto-contain h3 {
  grid-area: 1 / 3 / 1 / -1;
  justify-self: center;
  margin-bottom: 20px;
}

.createPhoto-contain .photo-container {
  grid-area: 2 / 3 / 2 / -1;
  justify-self: center;
}

/*# sourceMappingURL=index.99ca2063.css.map */
